@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #96BE8C;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 40px;
}

.tab {
    display: block;
    margin-left: 10rem;
}

header {
    background: linear-gradient(to bottom, rgba(75, 73, 73, 0.85), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    padding: 1rem 1.5%;
}

header nav {
    margin-left: 2rem; /* Adjust margin to position nav correctly */
}

header nav ul {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
}

header nav ul li {
    transition: transform 0.3s ease;
}

header nav ul li:hover {
    transform: scale(1.05);
}

header .newsletters {
    margin: 0 2rem;
}

header a {
    color: black;
    text-decoration: none;
}
header .newsletters {
    margin-left: auto;
}

.button-newsletters {
    background-image: linear-gradient(to bottom right, #496235 0%, #496235 10%, #96C86B 100%);
    color: black;
    padding: 1rem 4rem;
    font-size: 1.4rem;
    border-radius: 4%;
    border: 1px black solid;
    outline: none;
    cursor: pointer;
    transition: background-image 0.5s ease, transform 0.2s ease;
}

.button-newsletters:hover {
    background-image: linear-gradient(to top, #7CA976, #7CA976);
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}