a{
    text-decoration: none;
}

.img:hover{
    transform: scale(1.1);
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-background);
    color: var(--light-text);
}

.container {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title h1 {
    font-size: 2.5rem;
    color: var(--text-color);
}

.title p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.tools {
    max-width: 800px;
    margin: 0 auto;
}

.tools h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.tool-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.tool {
    background-color: var(--dark-background);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: ease-in-out var(--transition-duration);
}

@media (max-width: 400px) {
    .tool-list {
        grid-template-columns: 1fr;
    }
}

.tool:hover {
    transform: scale(1.02);    
    rotate: 4deg;
}

.tool-logo img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.tool-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--light-text);
}

.tool-info span {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.tool-info p {
    font-size: 1rem;
    color: var(--light-text);
}
