body {
    margin: 0;
    font-family: var(--main-font);
    background-color: #96be8c;
    color: var(--text-color);
}

.liste-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #96be8c;
}

.project-section {
    background-color: #96be8c;
    color: var(--text-color);
    padding: 40px 20px;
} 